.post{
  padding: 100px 0;
  background-color:var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}
.blogText{
  max-width: 90%;
}
.post img{
  width: 400px;;
}
.blogText{width: 750px;
  max-width: 90%;}
  
  .titleBlog{
    font-size: 50px;
  }
  .userBlog{
    font-size: 16px;
  }
  .contBlog{
    font-size: 16px;
  }

@media(max-width:800px){
  .blogImg{
    max-width: 90%;
  }
  .post{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleBlog{
    font-size: 30px;
  }

}