.projects{
  padding: 100px 0;
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  align-items: center;

}
.projectsContainer{
  width: 750px;
  max-width: 90%;
}
.p2{
  flex-direction: row-reverse;
}










.image.active{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta{
  background: var(--main-brand-color);
  color: var(--default-text-color);
  
  height: 36px;
  width: 100px;
  text-align: center;
  border-radius: 12px;
 

}


.ccta{
  display: flex;
  justify-content: center;
  align-items: center;



}

#carousel{
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  border: 15px solid var(--default-text-color);
 
  
  
}

#carousel .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  
  
}

#carousel .image.active {
  opacity: 1;
}

@media(max-width: 800px){
  #carousel{
    width: 400px;
    max-width: 90%;
  }
  #beyou{
    padding: 50px 0;
  }
  .projectsContainer h2{
    text-align: center;
    font-size: 12vw;
  }
}
