.projects{
  padding: 100px 0;
  flex-wrap: wrap;
  display:flex;
  justify-content: center;
  align-items: center;

}
.projectsContainer{
  width: 750px;
  max-width: 90%;
}
.p2{
  flex-direction: row-reverse;
}



.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.carouselSlide {
  display: flex;
  transition: transform 0.5s ease;
}
.image {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  overflow: hidden;
  object-fit: cover;
}
.image.active {
  display: block;
}
.cta{
  background: var(--main-brand-color);
  color: var(--default-text-color);
  
  height: 36px;
  width: 100px;
  text-align: center;
  border-radius: 12px;
 

}


.ccta{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;



}

#carousel{
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  border: 15px solid var(--default-text-color);
  max-width: 90%;
  background-size: cover;
 
  
  
}
.carouselSlide{
  max-width: 90px;
  padding-left: 50px;
  background-size: cover;
  
}

#carousel .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  
  
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carousel .image.active {
  opacity: 1;
}

@media(max-width: 800px){
  #carousel{
    width: 400px;
    max-width: 90%;
  }
  #beyou{
    padding: 50px 0;
  }
  .projectsContainer h2{
    text-align: center;
    font-size: 12vw;
  }
}
